:root {
  --primary: #d88921;
  --light: #eeeeee;
  --dark: #777777;
  --spacer: 1rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
/*list color (toolbar)*/
li {
  color: #ffffff;
}
.gw-logo {
  width: 100px;
}
.gw-logo-2 {
  visibility: hidden;
  width: 60px;
}
/* Alignment for toolbar */
.container {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/*nav: properties for toolbar color etc*/
nav {
  background-color: var(--dark);
  padding: 16px 32px;
  border-bottom: 3px solid var(--primary);
}
/*Hamburger */
.menu {
  display: none;
  flex: 1 1 0%;
  justify-content: flex-end;
  margin: 0px -16px;
}
/* Border and properties for "about..." in toolbar*/
.menu a {
  color: var(--light);
  margin: 0 16px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.4s;
  padding: 8px 16px;
  border-radius: 99px;
}

/*Higlighting which page we are on*/
/*When hover is orange*/
.menu a.is-active,
.menu a:hover {
  background-color: var(--primary);
}

.hamburger {
  display: block;
  position: relative;
  z-index: 1;

  user-select: none;

  appearance: "none";
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.hamburger span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background-color: var(--light);
  border-radius: 6px;
  z-index: 1;

  transform-origin: 0 0;

  transition: 0.4s;
}

.hamburger:hover span:nth-child(2) {
  transform: translateX(10px);
  background-color: var(--primary);
}

.hamburger.is-active span:nth-child(1) {
  transform: translate(0px, -2px) rotate(45deg);
}

.hamburger.is-active span:nth-child(3) {
  transform: translate(-3px, 3px) rotate(-45deg);
}

.hamburger.is-active span:nth-child(2) {
  opacity: 0;
  transform: translateX (15px);
}

.hamburger.is-active:hover span {
  background-color: var(--primary);
}
/* Berlin picture with properties */
.container-2 {
  width: 100%;
  min-height: 500px;
  padding: 5%;
  background-image: url(images/berlin.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*search bar properties to fit image of berlin*/
.search-bar {
  width: 100%;
  max-width: 600px;
  height: 40px;
  background: rgba(255, 255, 255, 0.6);
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 10px 20px;
}
/*search-bar input field style to fit */
.search-bar input {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 24px 20px;
  font-size: 20px;
}
/*img in search-bar*/
.search-bar button img {
  width: 20px;
}
.search-bar button {
  border-radius: 50%;
  border: 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.top-3 {
  margin-left: 90px;
  margin-top: -170px;
  position: absolute;
  color: #eeeeee;
  font-family: Arial, Helvetica, sans-serif;
}
/*At what pixels will the hamburger show up */
@media (min-width: 880px) {
  .hamburger {
    display: none;
  }
  .menu {
    display: flex;
  }
}
/*At what pictures we swap big logo to small*/
@media (max-width: 880px) {
  .gw-logo {
    display: none;
  }
}
@media (max-width: 880px) {
  .gw-logo-2 {
    visibility: visible;
  }
}
/* Berlin picture with properties */
.container-2 {
  width: 100%;
  min-height: 500px;
  padding: 5%;
  background-image: url(images/berlin.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*search bar properties to fit image of berlin*/
.search-bar {
  width: 100%;
  max-width: 600px;
  height: 40px;
  background: rgba(255, 255, 255, 0.6);
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 10px 20px;
}
/*search-bar input field style to fit */
.search-bar input {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 24px 20px;
  font-size: 20px;
}

/*img in search-bar*/
.search-bar button img {
  width: 20px;
}

.search-bar button {
  border-radius: 50%;
  border: 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.top-3 {
  margin-left: 90px;
  margin-top: -170px;
  position: absolute;
  color: #eeeeee;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.name1 {
  max-width: 1280px;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
}
.name2 {
  max-width: 1280px;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  font-style: normal;
}
/* scoller */
.grey {
  width: 100%;
  background: #444444;
}
.text1 {
  max-width: 1280px;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
  color: #bbbaba;
}
.image-scroller {
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  display: grid;
  grid-auto-columns: 30%;
  grid-template-columns: 530px 530px 530px 530px 530px;
  grid-template-rows: 300px;
  gap: 0px 10px;
  grid-template-areas: "Cityscapes1 Cityscapes2 Cityscapes3 Cityscapes4 Cityscapes5";
  justify-items: stretch;
}
.Cityscapes {
  max-width: 530px;
  border-radius: 10px;
}
.Cityscapes1 {
  grid-area: Cityscapes1;
}
.Cityscapes2 {
  grid-area: Cityscapes2;
}
.Cityscapes3 {
  grid-area: Cityscapes3;
}
.Cityscapes4 {
  grid-area: Cityscapes4;
}
.Cityscapes5 {
  grid-area: Cityscapes5;
}

/* footer */

.footer {
  width: 100%;
  height: 230px;
  background: var(--dark);
}
.footer-text {
  color: #ffffff;
  font-size: 15px;
}

.f {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: flex-start;
}

.logotype-small {
  max-width: 60px;
  margin-top: 10px;
  /* margin-left: 30px; */
}

/* contect */
.contect {
  width: 100%;
  height: 55px;
}

.c {
  max-width: 1280px;
  height: 55px;
  margin: 0 auto;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 25% 12.5% 12.5% 50%;
  grid-template-rows: 25px 50px;
  grid-template-areas:
    "follow-us contact-us contact-us ."
    "icons ema phonenumber .";
  justify-items: stretch;
}

.follow-us {
  grid-area: follow-us;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-size: 15px;
  font-weight: bold;
}

.contact-us {
  grid-area: contact-us;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-size: 15px;
  font-weight: bold;
}

.icons {
  grid-area: icons;
  max-width: 162px;
}

.ema {
  grid-area: ema;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
}

.phonenumber {
  grid-area: phonenumber;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 29px;
}

.ema,
.icons,
.phonenumber {
  transform: translate(0px, 10px);
}

.ema {
  color: #000000;
  text-decoration: none;
}

/* responsive for footer */

@media (max-width: 880px) {
  .f {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: flex-start;
  }
  .footer-text {
    margin-top: 10px;
    font-size: 10px;
  }
  .logotype-small {
    max-width: 40px;
    margin-left: 30px;
  }
  .c {
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 30px 0.7fr 1fr;
    grid-template-rows: 0.5fr 1fr 0.5fr;
    gap: 0px 0px;
    grid-template-areas:
      ". follow-us contact-us"
      ". icons ema"
      ". icons phonenumber";
    justify-items: stretch;
  }
  .icons {
    max-width: 100px;
  }
  .ema,
  .phonenumber {
    font-size: 14px;
  }
}

/* inpute */
.itext-1,
.itext-2 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
  transform: translate(-1em, 40px);
}
.namef,
.namel {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-size: 23px;
}
.inpute {
  max-width: 1280px;
  margin: 0 auto;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 600px 600px;
  grid-template-rows: 60px 30px 50px 30px 50px 50px 50px;
  gap: 30px 100px;
  grid-template-areas:
    "itext1 itext2"
    "namef ."
    "fname method"
    "namel ."
    "lname ."
    "email ."
    "requests .";
  justify-items: stretch;
}
.itext-1 {
  grid-area: itext1;
}
.namef {
  grid-area: namef;
}
.namel {
  grid-area: namel;
}
#fname {
  grid-area: fname;
}
#lname {
  grid-area: lname;
}
#email {
  grid-area: email;
}
#requests {
  grid-area: requests;
}
.itext-2 {
  grid-area: itext2;
}
#method {
  grid-area: method;
}

/* alert */

/* .ba{
    
    width: 100%;
    
}  */

#bnt-alert {
  transform: translate(0px, 300px);

  display: none;
  position: absolute;
  top: 2000px;
  width: 100%;
  height: 330px;
  background-color: grey;
  border-radius: 15px;
}

#X {
  height: 50px;
  border: none;
  left: 550px;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  transform: translate(30px, 30px);
}
.btext1 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
}
.btext2 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-size: 32px;
  line-height: 39px;
}
#back {
  grid-area: back;
  border: none;
  border-radius: 10px;
  width: 200px;
  height: 50px;
}
.btext2,
.btext1 {
  color: #bbbaba;
  text-align: center;
}

/* summary */
a {
  text-decoration: none;
}
.SUMMARY {
  width: 100%;
}
.frame {
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  max-width: 1280px;
  margin: 0 auto;
}
.s {
  transform: translate(30px, 0px);
  max-width: 600px;
  margin: 0 auto;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 400px 200px;
  grid-template-rows: 50px 70px 50px 50px 50px 70px 50px 50px 50px 30px 70px 50px 50px 70px 50px 30px;
  gap: 10px 10px;
  grid-template-areas:
    " . ."
    " Summarytext ."
    " Stext-1 date-1"
    " Stext-2 date-2"
    " Stext-3 date-3"
    " Stext-4 ."
    " Stext-5 Stext-5 "
    " Stext-10 Stext-10 "
    " Stext-11 Stext-11 "
    /* " Stext-12 Stext-12 " */
    /* " Stext-13 Stext-13 " */
    /* " Stext-14 Stext-14 " */
    " slink ."
    " Stext-6 ."
    " Stext-7 price1"
    " Stext-8 price2"
    " Stext-9 price3"
    " bnt ."
    " . .";
  justify-items: stretch;
}
.Summarytext {
  grid-area: Summarytext;
}
.Stext-1 {
  grid-area: Stext-1;
}
.date-1 {
  grid-area: date-1;
}
.date-2 {
  grid-area: date-2;
}
.Stext-2 {
  grid-area: Stext-2;
}
.date-3 {
  grid-area: date-3;
}
.Stext-3 {
  grid-area: Stext-3;
}
.Stext-4 {
  grid-area: Stext-4;
}
.Stext-5 {
  grid-area: Stext-5;
}
.slink {
  grid-area: slink;
}
.Stext-6 {
  grid-area: Stext-6;
}
.Stext-7 {
  grid-area: Stext-7;
}
.Stext-8 {
  grid-area: Stext-8;
}
.price1 {
  grid-area: price1;
}
.price2 {
  grid-area: price2;
}
.Stext-9 {
  grid-area: Stext-9;
}
.Stext-10 {
  grid-area: Stext-10;
}
.Stext-11 {
  grid-area: Stext-11;
}
.Stext-12 {
  grid-area: Stext-12;
}
.Stext-13 {
  grid-area: Stext-13;
}
.Stext-14 {
  grid-area: Stext-14;
}
.price3 {
  grid-area: price3;
}
#bnt {
  border: none;
  grid-area: bnt;
  border-radius: 10px;
  transform: translate(100px, 0px);
}
.Summarytext,
.Stext-4,
#bnt {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 39px;
}
.Stext-1,
.Stext-2,
.Stext-3,
.Stext-6,
.Stext-7,
.Stext-8,
.Stext-9 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-size: 25px;
}
.date-1,
.date-2,
.date-3,
.slink,
.price1,
.price2,
.price3,
.Stext-11,
.Stext-12,
.Stext-13,
.Stext-14,
.Stext-10,
.Stext-5 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
}
/* Keeping information right-aligned */
.date-1,
.date-2,
.date-3,
.price1,
.price2,
.price3 {
  text-align: right;
}

/* responsive */

@media (max-width: 1400px) {
  .text1 {
    max-width: 600px;
  }
  .inpute {
    max-width: 600px;
    margin: 0 auto;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 600px;
    grid-template-rows: 60px 30px 50px 30px 50px 50px 50px 60px 30px;
    gap: 30px 0px;
    grid-template-areas:
      "itext1 "
      "namef "
      "fname "
      "namel "
      "lname "
      "email "
      "requests "
      "itext2"
      "method";
    justify-items: stretch;
  }
  .s {
    grid-template-columns: 400px 150px;
    max-width: 550px;
  }
  #bnt {
    transform: translate(60px, 0px);
  }
  .frame {
    max-width: 650px;
  }
}

@media (max-width: 800px) {
  .text1,
  .itext-1,
  .itext-2 {
    max-width: 300px;
    font-size: 25px;
  }
  .image-scroller {
    grid-template-columns: 300px 300px 300px 300px 300px;
    grid-template-rows: 200px;
  }
  .Cityscapes {
    max-width: 300px;
  }
  .inpute {
    max-width: 300px;
    grid-template-columns: 300px;
  }
  .s {
    grid-template-columns: 150px 150px;
    max-width: 350px;
  }
  .Stext-1,
  .Stext-2,
  .Stext-3,
  .Stext-6,
  .Stext-7,
  .Stext-8,
  .Stext-9,
  .date-1,
  .date-2,
  .date-3,
  .slink,
  .price1,
  .price2,
  .price3,
  .Stext-11,
  .Stext-12,
  .Stext-13,
  .Stext-14,
  .Stext-10,
  .Stext-5 {
    font-size: 20px;
  }
  #bnt {
    font-size: 10px;
  }
}
